{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}- Score Table{% endblock meta_title %}

{% block nav-item %}
	  <li class="nav-item">
	  	<a class="nav-link" href="{% url 'menu' %}">Main page</a>
	  </li>
{% endblock nav-item %}

{% block content %}

<div class="row  block--mr_top">
{% for key, value in data.items %}

  {% if key == 'twelve' %}
    <div class="col-sm-12  col-md-4">
      <h3 class="text-center">12 Cards Desk</h3>
      <table class="table  table-striped  table--bg_white">
        <tr>
          <th>Place</th>
          <th>Desk</th>
          <th>User</th>
          <th>Score</th>
        </tr>
      {% for item in value %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ item.guess_desk_number }}</td>
          <td>{{ item.username }}</td>
          <td>{{ item.score }}</td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% endif %}

  {% if key == 'eighteen' %}
    <div class="col-sm-12  col-md-4">
      <h3 class="text-center">18 Cards Desk</h3>
      <table class="table  table-striped  table--bg_white">
        <tr>
          <th>Place</th>
          <th>Desk</th>
          <th>User</th>
          <th>Score</th>
        </tr>
      {% for item in value %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ item.guess_desk_number }}</td>
          <td>{{ item.username }}</td>
          <td>{{ item.score }}</td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% endif %}

  {% if key == 'twenty_four' %}
    <div class="col-sm-12  col-md-4">
      <h3 class="text-center">24 Cards Desk</h3>
      <table class="table  table-striped  table--bg_white">
        <tr>
          <th>Place</th>
          <th>Desk</th>
          <th>User</th>
          <th>Score</th>
        </tr>
      {% for item in value %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ item.guess_desk_number }}</td>
          <td>{{ item.username }}</td>
          <td>{{ item.score }}</td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% endif %}

{% endfor %}
</div>

{% endblock content %}

